{
    "swagger": "2.0", 
    "info": {
        "title": "Product Inventory Management", 
        "description": "This is Swagger UI environment generated for the TMF Product Inventory Management specification", 
        "version": "2.0"
    }, 
    "host": "biologeek.orange-labs.fr", 
    "basePath": "/api/productInventoryManagement", 
    "schemes": [
        "https"
    ], 
    "consumes": [
        "application/json"
    ], 
    "produces": [
        "application/json"
    ], 
    "paths": {
        "/product": {
            "get": {
                "operationId": "listProduct", 
                "summary": "List or find 'Product' objects", 
                "tags": [
                    "product"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: Name of the product. It could be the same as the name of the product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "status", 
                        "description": "For filtering: Is the lifecycle status of the product."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isCustomerVisible", 
                        "description": "For filtering: If true, the product is visible by the customer."
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "query", 
                        "name": "isBundle", 
                        "description": "For filtering: If true, the product is a ProductBundle which is an instantiation of a BundledProductOffering. If false, the product is a ProductComponent which is an instantiation of a SimpleProductOffering."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "productSerialNumber", 
                        "description": "For filtering: Is the serial number for the product. This is typically applicable to tangible products e.g. Broadband Router."
                    }, 
                    {
                        "name": "startDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Is the date from which the product starts"
                    }, 
                    {
                        "name": "orderDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Is the date when the product was ordered"
                    }, 
                    {
                        "name": "terminationDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Is the date when the product was terminated"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place", 
                        "description": "For filtering: is a link to the place where the product is provided"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productOffering.name", 
                        "description": "For filtering: Name of the product offering"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "billingAccount.name", 
                        "description": "For filtering: Name of the billing account"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productCharacteristic.name", 
                        "description": "For filtering: Name of the characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productCharacteristic.value", 
                        "description": "For filtering: Value of the characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productRelationship.type", 
                        "description": "For filtering: Type of the product relationship. It can be :\n<ul>\n <li>\"bundled\" if the product is a bundle and you want to describe the \"bundled\" products inside this bundle</li>\n <li> \"reliesOn\" if the product needs another already owned product to rely on (e.g. an option on an already owned mobile access product)</li>\n</ul>\n\"targets\" or \"isTargeted\" (depending on the way of expressing the link) for any other kind of links that may be useful"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productPrice.name", 
                        "description": "For filtering: A short descriptive name such as \"Subscription price\"."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productPrice.priceType", 
                        "description": "For filtering: A category that describes the price, such as recurring, discount, allowance, penalty, and so forth."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productPrice.recurringChargePeriod", 
                        "description": "For filtering: Could be month, week..."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productPrice.unitOfMeasure", 
                        "description": "For filtering: Could be minutes, GB..."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productSpecification.version", 
                        "description": "For filtering: Version of the product specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "productSpecification.name", 
                        "description": "For filtering: Name of the product specification"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Product"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createProduct", 
                "summary": "Creates a 'Product'", 
                "tags": [
                    "product"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Product_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "product", 
                        "description": "The Product to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/Product"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/product/{id}": {
            "get": {
                "operationId": "retrieveProduct", 
                "summary": "Retrieves a 'Product' by Id", 
                "tags": [
                    "product"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Product"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "put": {
                "operationId": "updateProduct", 
                "summary": "Updates a 'Product' by Id", 
                "tags": [
                    "product"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/Product_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "product", 
                        "description": "The Product to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/Product"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "patch": {
                "operationId": "updateProduct", 
                "summary": "Updates partially a 'Product' by Id", 
                "tags": [
                    "product"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/Product_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "product", 
                        "description": "The Product to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/Product"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "delete": {
                "operationId": "deleteProduct", 
                "summary": "Deletes a 'Product' by Id", 
                "tags": [
                    "product"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Product"
                    }
                ], 
                "responses": {
                    "204": {
                        "description": "Deleted"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub": {
            "post": {
                "operationId": "registerListener", 
                "summary": "Register a listener", 
                "description": "Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "data", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscriptionInput"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "description": "Data containing the callback endpoint to deliver the information"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Subscribed", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscription"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub/{id}": {
            "delete": {
                "operationId": "unregisterListener", 
                "summary": "Unregister a listener", 
                "description": "Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "id", 
                        "type": "string", 
                        "required": true, 
                        "in": "path", 
                        "description": "The id of the registered listener"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Unsubscribed"
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/productCreationNotification": {
            "post": {
                "operationId": "publishProductCreationNotification", 
                "summary": "Publishes a 'ProductCreationNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductCreationNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productCreationNotification", 
                        "description": "The Product Creation Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/productStatusChangeNotification": {
            "post": {
                "operationId": "publishProductStatusChangeNotification", 
                "summary": "Publishes a 'ProductStatusChangeNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductStatusChangeNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productStatusChangeNotification", 
                        "description": "The Product Status Change Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/productOrderInformationRequiredNotification": {
            "post": {
                "operationId": "publishProductOrderInformationRequiredNotification", 
                "summary": "Publishes a 'ProductOrderInformationRequiredNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductOrderInformationRequiredNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productOrderInformationRequiredNotification", 
                        "description": "The Product Order Information Required Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/productBatchNotification": {
            "post": {
                "operationId": "publishProductBatchNotification", 
                "summary": "Publishes a 'ProductBatchNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductBatchNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productBatchNotification", 
                        "description": "The Product Batch Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/productOrderRemoveNotification": {
            "post": {
                "operationId": "publishProductOrderRemoveNotification", 
                "summary": "Publishes a 'ProductOrderRemoveNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductOrderRemoveNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productOrderRemoveNotification", 
                        "description": "The Product Order Remove Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/productDeletionNotification": {
            "post": {
                "operationId": "publishProductDeletionNotification", 
                "summary": "Publishes a 'ProductDeletionNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductDeletionNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productDeletionNotification", 
                        "description": "The Product Deletion Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/productOrderCreationNotification": {
            "post": {
                "operationId": "publishProductOrderCreationNotification", 
                "summary": "Publishes a 'ProductOrderCreationNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductOrderCreationNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productOrderCreationNotification", 
                        "description": "The Product Order Creation Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/productValueChangeNotification": {
            "post": {
                "operationId": "publishProductValueChangeNotification", 
                "summary": "Publishes a 'ProductValueChangeNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductValueChangeNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productValueChangeNotification", 
                        "description": "The Product Value Change Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/productOrderValueChangeNotification": {
            "post": {
                "operationId": "publishProductOrderValueChangeNotification", 
                "summary": "Publishes a 'ProductOrderValueChangeNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductOrderValueChangeNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productOrderValueChangeNotification", 
                        "description": "The Product Order Value Change Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/listener/productOrderStateChangeNotification": {
            "post": {
                "operationId": "publishProductOrderStateChangeNotification", 
                "summary": "Publishes a 'ProductOrderStateChangeNotification'", 
                "tags": [
                    "events publication"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ProductOrderStateChangeNotification"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "productOrderStateChangeNotification", 
                        "description": "The Product Order State Change Notification to be published"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Published"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    }, 
    "definitions": {
        "Product": {
            "type": "object", 
            "description": "A product offering procured by a customer or other interested party playing a party role. A product is realized as one or more service(s) and / or resource(s).", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the product"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the product"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the product. It could be the same as the name of the product offering"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Is the description of the product. It could be copied from the description of the Product Offering."
                }, 
                "status": {
                    "type": "string", 
                    "description": "Is the lifecycle status of the product."
                }, 
                "isCustomerVisible": {
                    "type": "boolean", 
                    "description": "If true, the product is visible by the customer."
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "If true, the product is a ProductBundle which is an instantiation of a BundledProductOffering. If false, the product is a ProductComponent which is an instantiation of a SimpleProductOffering."
                }, 
                "productSerialNumber": {
                    "type": "string", 
                    "description": "Is the serial number for the product. This is typically applicable to tangible products e.g. Broadband Router."
                }, 
                "startDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Is the date from which the product starts"
                }, 
                "orderDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Is the date when the product was ordered"
                }, 
                "terminationDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Is the date when the product was terminated"
                }, 
                "place": {
                    "type": "string", 
                    "description": "is a link to the place where the product is provided"
                }, 
                "realizingService": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RealizingServiceRef"
                    }
                }, 
                "productOffering": {
                    "$ref": "#/definitions/ProductOfferingRef"
                }, 
                "billingAccount": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BillingAccountRef"
                    }
                }, 
                "productCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductCharacteristic"
                    }
                }, 
                "productRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductRelationship"
                    }
                }, 
                "realizingResource": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RealizingResourceRef"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "productPrice": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductPrice"
                    }
                }, 
                "productSpecification": {
                    "$ref": "#/definitions/ProductSpecificationRef"
                }
            }
        }, 
        "Product_Create": {
            "type": "object", 
            "description": "A product offering procured by a customer or other interested party playing a party role. A product is realized as one or more service(s) and / or resource(s).\nSkipped properties: id,href", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "Name of the product. It could be the same as the name of the product offering"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Is the description of the product. It could be copied from the description of the Product Offering."
                }, 
                "status": {
                    "type": "string", 
                    "description": "Is the lifecycle status of the product."
                }, 
                "isCustomerVisible": {
                    "type": "boolean", 
                    "description": "If true, the product is visible by the customer."
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "If true, the product is a ProductBundle which is an instantiation of a BundledProductOffering. If false, the product is a ProductComponent which is an instantiation of a SimpleProductOffering."
                }, 
                "productSerialNumber": {
                    "type": "string", 
                    "description": "Is the serial number for the product. This is typically applicable to tangible products e.g. Broadband Router."
                }, 
                "startDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Is the date from which the product starts"
                }, 
                "orderDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Is the date when the product was ordered"
                }, 
                "terminationDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Is the date when the product was terminated"
                }, 
                "place": {
                    "type": "string", 
                    "description": "is a link to the place where the product is provided"
                }, 
                "realizingService": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RealizingServiceRef"
                    }
                }, 
                "productOffering": {
                    "$ref": "#/definitions/ProductOfferingRef"
                }, 
                "billingAccount": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BillingAccountRef"
                    }
                }, 
                "productCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductCharacteristic"
                    }
                }, 
                "productRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductRelationship"
                    }
                }, 
                "realizingResource": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RealizingResourceRef"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "productPrice": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductPrice"
                    }
                }, 
                "productSpecification": {
                    "$ref": "#/definitions/ProductSpecificationRef"
                }
            }
        }, 
        "Product_Update": {
            "type": "object", 
            "description": "A product offering procured by a customer or other interested party playing a party role. A product is realized as one or more service(s) and / or resource(s).\nSkipped properties: id,href", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "Name of the product. It could be the same as the name of the product offering"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Is the description of the product. It could be copied from the description of the Product Offering."
                }, 
                "status": {
                    "type": "string", 
                    "description": "Is the lifecycle status of the product."
                }, 
                "isCustomerVisible": {
                    "type": "boolean", 
                    "description": "If true, the product is visible by the customer."
                }, 
                "isBundle": {
                    "type": "boolean", 
                    "description": "If true, the product is a ProductBundle which is an instantiation of a BundledProductOffering. If false, the product is a ProductComponent which is an instantiation of a SimpleProductOffering."
                }, 
                "productSerialNumber": {
                    "type": "string", 
                    "description": "Is the serial number for the product. This is typically applicable to tangible products e.g. Broadband Router."
                }, 
                "startDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Is the date from which the product starts"
                }, 
                "orderDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Is the date when the product was ordered"
                }, 
                "terminationDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Is the date when the product was terminated"
                }, 
                "place": {
                    "type": "string", 
                    "description": "is a link to the place where the product is provided"
                }, 
                "realizingService": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RealizingServiceRef"
                    }
                }, 
                "productOffering": {
                    "$ref": "#/definitions/ProductOfferingRef"
                }, 
                "billingAccount": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BillingAccountRef"
                    }
                }, 
                "productCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductCharacteristic"
                    }
                }, 
                "productRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductRelationship"
                    }
                }, 
                "realizingResource": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RealizingResourceRef"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "productPrice": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductPrice"
                    }
                }, 
                "productSpecification": {
                    "$ref": "#/definitions/ProductSpecificationRef"
                }
            }
        }, 
        "RealizingServiceRef": {
            "type": "object", 
            "description": "RealizingService reference. RealizingService is a link to the service that realizes the product.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the service"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the service"
                }
            }
        }, 
        "ProductOfferingRef": {
            "type": "object", 
            "description": "ProductOffering reference. A product offering represents entities that are orderable from the provider of the catalog, this resource includes pricing information.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the product offering"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the product offering"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the product offering"
                }, 
                "bundledProductOffering": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BundledProductOfferingRef"
                    }
                }
            }
        }, 
        "BillingAccountRef": {
            "type": "object", 
            "description": "BillingAccount reference. A BillingAccount is a detailed description of a customer's bill structure.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the billing account"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the billing account"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the billing account"
                }
            }
        }, 
        "ProductCharacteristic": {
            "type": "object", 
            "description": "Characteristics of the product to instantiate or to modify", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "Name of the characteristic"
                }, 
                "value": {
                    "type": "string", 
                    "description": "Value of the characteristic"
                }
            }
        }, 
        "ProductRelationship": {
            "type": "object", 
            "description": "Linked products to the one instantiate, it can be :\n<ul>\n <li>\"bundled\" if the product is a bundle and you want to describe the \"bundled\" products inside this bundle</li>\n <li> \"reliesOn\" if the product needs another already owned product to rely on (e.g. an option on an already owned mobile access product)</li>\n</ul>\n\"targets\" or \"isTargeted\" (depending on the way of expressing the link) for any other kind of links that may be useful", 
            "properties": {
                "type": {
                    "type": "string", 
                    "description": "Type of the product relationship. It can be :\n<ul>\n <li>\"bundled\" if the product is a bundle and you want to describe the \"bundled\" products inside this bundle</li>\n <li> \"reliesOn\" if the product needs another already owned product to rely on (e.g. an option on an already owned mobile access product)</li>\n</ul>\n\"targets\" or \"isTargeted\" (depending on the way of expressing the link) for any other kind of links that may be useful"
                }, 
                "product": {
                    "$ref": "#/definitions/ProductRef"
                }
            }
        }, 
        "RealizingResourceRef": {
            "type": "object", 
            "description": "RealizingResource reference. RealizingResource is a link to the resource that realizes the product.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the resource"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the resource"
                }
            }
        }, 
        "RelatedPartyRef": {
            "type": "object", 
            "description": "RelatedParty reference. RelatedParty defines party or party role linked to a specific entity.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of a related party"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the related party, could be a party reference or a partyRole reference"
                }, 
                "role": {
                    "type": "string", 
                    "description": "Role of the related party."
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the related party"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "Validity period of the related party"
                }
            }
        }, 
        "ProductPrice": {
            "type": "object", 
            "description": "An amount, usually of money, that represents the actual price paid by a Customer for a purchase, a rent or a lease of a Product. The price is valid for a defined period of time.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "A short descriptive name such as \"Subscription price\"."
                }, 
                "description": {
                    "type": "string", 
                    "description": "A narrative that explains in detail the semantics of this product price."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the price is valid."
                }, 
                "priceType": {
                    "type": "string", 
                    "description": "A category that describes the price, such as recurring, discount, allowance, penalty, and so forth."
                }, 
                "recurringChargePeriod": {
                    "type": "string", 
                    "description": "Could be month, week..."
                }, 
                "unitOfMeasure": {
                    "type": "string", 
                    "description": "Could be minutes, GB..."
                }, 
                "prodPriceAlteration": {
                    "$ref": "#/definitions/ProdPriceAlteration"
                }, 
                "price": {
                    "$ref": "#/definitions/Price"
                }
            }
        }, 
        "ProductSpecificationRef": {
            "type": "object", 
            "description": "Product specification reference: A ProductSpecification is a detailed description of a tangible or intangible object made available externally in the form of a ProductOffering to customers or other parties playing a party role.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the product specification"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the product specification"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Version of the product specification"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the product specification"
                }
            }
        }, 
        "BundledProductOfferingRef": {
            "type": "object", 
            "description": "BundledProductOffering Reference. A type of ProductOffering that belongs to a grouping of ProductOfferings made available to the market. It inherits of all attributes of ProductOffering.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the product offering"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the product offering"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the product offering"
                }
            }
        }, 
        "ProductRef": {
            "type": "object", 
            "description": "Product reference. Configure the product characteristics (only configurable characteristics and necessary only if a non default value is selected) and/or identify the product that needs to be modified/deleted\nMay be a bundle product instantiation, in this case, it will contain the list of bundled product to instantiate\n<u>Nota</u> : Each product to instantiate corresponds to a purchased productOffering. In case of bundles, the order of the list in the productOffering bundle must match the order of the list in the product instance bundle to deliver.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the product"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the product"
                }, 
                "productRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductRelationship"
                    }
                }, 
                "place": {
                    "$ref": "#/definitions/Place"
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductCharacteristic"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "Place": {
            "type": "object", 
            "description": "Used to defined a place useful for the product (for example a delivery geographical place)", 
            "properties": {
                "href": {
                    "type": "string", 
                    "description": "Reference of a place (for instance in google map)"
                }, 
                "role": {
                    "type": "string", 
                    "description": "Role of the place (for instance delivery geographical place)"
                }
            }
        }, 
        "TimePeriod": {
            "type": "object", 
            "description": "A base / value business entity used to represent a period of time between two timepoints.", 
            "properties": {
                "startDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, starting at the TimePeriod"
                }, 
                "endDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, ending at the TimePeriod."
                }
            }
        }, 
        "ProdPriceAlteration": {
            "type": "object", 
            "description": "Is an amount, usually of money, that modifies the price charged for a Product.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "A short descriptive name such as \"Monthly discount\""
                }, 
                "description": {
                    "type": "string", 
                    "description": "A narrative that explains in detail the semantics of this ProdPriceAlteration"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the ProdPriceAlteration is valid"
                }, 
                "priceType": {
                    "type": "string", 
                    "description": "A category that describes the price such as recurring, one shot and so forth."
                }, 
                "unitOfMeasure": {
                    "type": "string", 
                    "description": "Could be minutes, GB..."
                }, 
                "recurringChargePeriod": {
                    "type": "string", 
                    "description": "Could be month, week..."
                }, 
                "applicationDuration": {
                    "$ref": "#/definitions/integer", 
                    "description": "Duration during which the ProdPriceAlteration applies on the ProductPrice (for instance 2 months free of charge for the recurring charge)"
                }, 
                "priceCondition": {
                    "type": "string", 
                    "description": "Condition that triggers the price application"
                }, 
                "price": {
                    "$ref": "#/definitions/Price"
                }
            }
        }, 
        "Price": {
            "type": "object", 
            "description": "Provides all amounts (tax included, duty free, tax rate), used currency and percentage to apply for ProdOfferPriceAlteration.", 
            "properties": {
                "taxIncludedAmount": {
                    "type": "float", 
                    "description": "All taxes included amount (expressed in the given currency)"
                }, 
                "dutyFreeAmount": {
                    "type": "float", 
                    "description": "All taxes excluded amount (expressed in the given currency)"
                }, 
                "taxRate": {
                    "type": "float", 
                    "description": "Tax rate"
                }, 
                "currencyCode": {
                    "type": "string", 
                    "description": "A string used as a code for specifying the currency associated to the given amounts. The ISO4217 norm uses 3 letters to define the currency (for example USD for US dollar or EUR for Euro)"
                }, 
                "percentage": {
                    "type": "float", 
                    "description": "Percentage to apply for ProdOfferPriceAlteration"
                }, 
                "priceType": {
                    "type": "string", 
                    "description": "Indicates the price type: recurring, one time, usage"
                }
            }
        }, 
        "ProductCreationNotification": {
            "type": "object", 
            "description": "The ProductCreation notification is sent to each listener who has subscribed to receive it.", 
            "properties": {
                "eventType": {
                    "type": "string", 
                    "description": "Type of event"
                }, 
                "eventTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Creation date of the event"
                }, 
                "eventId": {
                    "type": "string", 
                    "description": "Identifier of the event"
                }, 
                "resourcePath": {
                    "type": "string", 
                    "description": "To indicate which entity is concerned"
                }, 
                "fieldPath": {
                    "type": "string", 
                    "description": "details which field is missing, its structure is quite similar to GET filter criteria"
                }, 
                "event": {
                    "$ref": "#/definitions/ProductEvent"
                }
            }
        }, 
        "ProductStatusChangeNotification": {
            "type": "object", 
            "description": "The ProductStatusChange notification is sent to each listener who has subscribed to receive it.", 
            "properties": {
                "eventType": {
                    "type": "string", 
                    "description": "Type of event"
                }, 
                "eventTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Creation date of the event"
                }, 
                "eventId": {
                    "type": "string", 
                    "description": "Identifier of the event"
                }, 
                "resourcePath": {
                    "type": "string", 
                    "description": "To indicate which entity is concerned"
                }, 
                "fieldPath": {
                    "type": "string", 
                    "description": "details which field is missing, its structure is quite similar to GET filter criteria"
                }, 
                "event": {
                    "$ref": "#/definitions/ProductEvent"
                }
            }
        }, 
        "ProductOrderInformationRequiredNotification": {
            "type": "object", 
            "description": "The ProductOrderInformationRequired notification is sent to each listener who has subscribed to receive it.", 
            "properties": {
                "eventType": {
                    "type": "string", 
                    "description": "Type of event"
                }, 
                "eventTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Creation date of the event"
                }, 
                "eventId": {
                    "type": "string", 
                    "description": "Identifier of the event"
                }, 
                "resourcePath": {
                    "type": "string", 
                    "description": "To indicate which entity is concerned"
                }, 
                "fieldPath": {
                    "type": "string", 
                    "description": "details which field is missing, its structure is quite similar to GET filter criteria"
                }, 
                "event": {
                    "$ref": "#/definitions/ProductOrderEvent"
                }
            }
        }, 
        "ProductBatchNotification": {
            "type": "object", 
            "description": "The ProductBatch notification is sent to each listener who has subscribed to receive it.", 
            "properties": {
                "eventType": {
                    "type": "string", 
                    "description": "Type of event"
                }, 
                "eventTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Creation date of the event"
                }, 
                "eventId": {
                    "type": "string", 
                    "description": "Identifier of the event"
                }, 
                "resourcePath": {
                    "type": "string", 
                    "description": "To indicate which entity is concerned"
                }, 
                "fieldPath": {
                    "type": "string", 
                    "description": "details which field is missing, its structure is quite similar to GET filter criteria"
                }, 
                "event": {
                    "$ref": "#/definitions/ProductEvent"
                }
            }
        }, 
        "ProductOrderRemoveNotification": {
            "type": "object", 
            "description": "The ProductOrderRemove notification is sent to each listener who has subscribed to receive it.", 
            "properties": {
                "eventType": {
                    "type": "string", 
                    "description": "Type of event"
                }, 
                "eventTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Creation date of the event"
                }, 
                "eventId": {
                    "type": "string", 
                    "description": "Identifier of the event"
                }, 
                "resourcePath": {
                    "type": "string", 
                    "description": "To indicate which entity is concerned"
                }, 
                "fieldPath": {
                    "type": "string", 
                    "description": "details which field is missing, its structure is quite similar to GET filter criteria"
                }, 
                "event": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ProductOrderEvent"
                    }
                }
            }
        }, 
        "ProductDeletionNotification": {
            "type": "object", 
            "description": "The ProductDeletion notification is sent to each listener who has subscribed to receive it.", 
            "properties": {
                "eventType": {
                    "type": "string", 
                    "description": "Type of event"
                }, 
                "eventTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Creation date of the event"
                }, 
                "eventId": {
                    "type": "string", 
                    "description": "Identifier of the event"
                }, 
                "resourcePath": {
                    "type": "string", 
                    "description": "To indicate which entity is concerned"
                }, 
                "fieldPath": {
                    "type": "string", 
                    "description": "details which field is missing, its structure is quite similar to GET filter criteria"
                }, 
                "event": {
                    "$ref": "#/definitions/ProductEvent"
                }
            }
        }, 
        "ProductOrderCreationNotification": {
            "type": "object", 
            "description": "The ProductOrderCreation notification is sent to each listener who has subscribed to receive it.", 
            "properties": {
                "eventType": {
                    "type": "string", 
                    "description": "Type of event"
                }, 
                "eventTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Creation date of the event"
                }, 
                "eventId": {
                    "type": "string", 
                    "description": "Identifier of the event"
                }, 
                "resourcePath": {
                    "type": "string", 
                    "description": "To indicate which entity is concerned"
                }, 
                "fieldPath": {
                    "type": "string", 
                    "description": "details which field is missing, its structure is quite similar to GET filter criteria"
                }, 
                "event": {
                    "$ref": "#/definitions/ProductOrderEvent"
                }
            }
        }, 
        "ProductValueChangeNotification": {
            "type": "object", 
            "description": "The ProductValueChange notification is sent to each listener who has subscribed to receive it.", 
            "properties": {
                "eventType": {
                    "type": "string", 
                    "description": "Type of event"
                }, 
                "eventTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Creation date of the event"
                }, 
                "eventId": {
                    "type": "string", 
                    "description": "Identifier of the event"
                }, 
                "resourcePath": {
                    "type": "string", 
                    "description": "To indicate which entity is concerned"
                }, 
                "fieldPath": {
                    "type": "string", 
                    "description": "details which field is missing, its structure is quite similar to GET filter criteria"
                }, 
                "event": {
                    "$ref": "#/definitions/ProductEvent"
                }
            }
        }, 
        "ProductOrderValueChangeNotification": {
            "type": "object", 
            "description": "The ProductOrderValueChange notification is sent to each listener who has subscribed to receive it.", 
            "properties": {
                "eventType": {
                    "type": "string", 
                    "description": "Type of event"
                }, 
                "eventTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Creation date of the event"
                }, 
                "eventId": {
                    "type": "string", 
                    "description": "Identifier of the event"
                }, 
                "resourcePath": {
                    "type": "string", 
                    "description": "To indicate which entity is concerned"
                }, 
                "fieldPath": {
                    "type": "string", 
                    "description": "details which field is missing, its structure is quite similar to GET filter criteria"
                }, 
                "event": {
                    "$ref": "#/definitions/ProductOrderEvent"
                }
            }
        }, 
        "ProductOrderStateChangeNotification": {
            "type": "object", 
            "description": "The ProductOrderStateChange notification is sent to each listener who has subscribed to receive it.", 
            "properties": {
                "eventType": {
                    "type": "string", 
                    "description": "Type of event"
                }, 
                "eventTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Creation date of the event"
                }, 
                "eventId": {
                    "type": "string", 
                    "description": "Identifier of the event"
                }, 
                "resourcePath": {
                    "type": "string", 
                    "description": "To indicate which entity is concerned"
                }, 
                "fieldPath": {
                    "type": "string", 
                    "description": "details which field is missing, its structure is quite similar to GET filter criteria"
                }, 
                "event": {
                    "$ref": "#/definitions/ProductOrderEvent"
                }
            }
        }, 
        "ProductEvent": {
            "type": "object", 
            "description": "The Product event is generated each time a product has been created, updated or deleted.", 
            "properties": {
                "product": {
                    "$ref": "#/definitions/Product"
                }
            }
        }, 
        "ProductOrderEvent": {
            "type": "object", 
            "description": "The ProductOrder event is generated each time a product order is created, updated or an information is required.", 
            "properties": {
                "productOrder": {
                    "$ref": "#/definitions/ProductOrder"
                }
            }
        }, 
        "ProductOrder": {
            "type": "object", 
            "description": "A Product Order is a type of order which  can  be used to place an order  between a customer and a service provider or between a service provider and a partner and vice versa,", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "ID created on repository side (OM system)"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Hyperlink to access the order"
                }, 
                "externalId": {
                    "type": "string", 
                    "description": "ID given by the consumer and only understandable by him (to facilitate his searches afterwards)"
                }, 
                "priority": {
                    "type": "string", 
                    "description": "A way that can be used by consumers to prioritize orders in OM system (from 0 to 4 : 0 is the highest priority, and 4 the lowest)"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of the product order"
                }, 
                "category": {
                    "type": "string", 
                    "description": "Used to categorize the order from a business perspective that can be useful for the OM system (e.g. \"enterprise\", \"residential\", ...)"
                }, 
                "state": {
                    "type": "string", 
                    "description": "State of the order : described in the state-machine diagram"
                }, 
                "orderDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date when the order was created"
                }, 
                "completionDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date when the order was completed"
                }, 
                "requestedStartDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Order start date wished by the requestor"
                }, 
                "requestedCompletionDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Requested delivery date from the requestor perspective"
                }, 
                "expectedCompletionDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Expected delivery date amended by the provider"
                }, 
                "notificationContact": {
                    "type": "string", 
                    "description": "Contact attached to the order to send back information regarding this order"
                }, 
                "note": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Note"
                    }
                }, 
                "orderItem": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/OrderItem"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "Note": {
            "type": "object", 
            "description": "Extra information about the ticket or a product order", 
            "properties": {
                "date": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date of the note"
                }, 
                "author": {
                    "type": "string", 
                    "description": "Author of the note"
                }, 
                "text": {
                    "type": "string", 
                    "description": "Text of the note"
                }
            }
        }, 
        "OrderItem": {
            "type": "object", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Identifier of the line item (generally it is a sequence number 01, 02, 03, ...)"
                }, 
                "action": {
                    "$ref": "#/definitions/string", 
                    "description": "Can be \"add\" / \"modify\" / \"no_change\"/ \"delete\""
                }, 
                "state": {
                    "type": "string", 
                    "description": "State of the order item : described in the state machine diagram"
                }, 
                "appointment": {
                    "type": "string", 
                    "description": "Used to precise that an appointment was set up with a related party for this order item"
                }, 
                "billingAccount": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/BillingAccountRef"
                    }
                }, 
                "productOffering": {
                    "$ref": "#/definitions/ProductOfferingRef"
                }, 
                "product": {
                    "$ref": "#/definitions/ProductRef"
                }
            }
        }, 
        "EventSubscription": {
            "required": [
                "id", 
                "callback"
            ], 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Id of the listener"
                }, 
                "callback": {
                    "type": "string", 
                    "description": "The callback being registered."
                }, 
                "query": {
                    "type": "string", 
                    "description": "additional data to be passed"
                }
            }
        }, 
        "EventSubscriptionInput": {
            "required": [
                "callback"
            ], 
            "properties": {
                "callback": {
                    "type": "string", 
                    "description": "The callback being registered."
                }, 
                "query": {
                    "type": "string", 
                    "description": "additional data to be passed"
                }
            }
        }, 
        "Error": {
            "required": [
                "code", 
                "message"
            ], 
            "properties": {
                "code": {
                    "type": "integer", 
                    "description": "An integer coding the error type. This is given to caller so he can translate them if required."
                }, 
                "message": {
                    "type": "string", 
                    "description": "A short localized string that describes the error."
                }, 
                "description": {
                    "type": "string", 
                    "description": "(optional) A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values."
                }, 
                "infoURL": {
                    "type": "string", 
                    "description": "(optional) A URL to online documentation that provides more information about the error."
                }
            }
        }
    }
}
