{
    "swagger": "2.0", 
    "info": {
        "title": "Usage Management", 
        "description": "This is Swagger UI environment generated for the TMF Usage Management specification", 
        "version": "2.0"
    }, 
    "host": "biologeek.orange-labs.fr", 
    "basePath": "/api/usageManagement", 
    "schemes": [
        "https"
    ], 
    "consumes": [
        "application/json"
    ], 
    "produces": [
        "application/json"
    ], 
    "paths": {
        "/usage": {
            "get": {
                "operationId": "listUsage", 
                "summary": "List or find 'Usage' objects", 
                "tags": [
                    "usage"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "name": "date", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date of usage"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "type", 
                        "description": "For filtering: Type of usage"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "status", 
                        "description": "For filtering: Status of usage"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "usageSpecification.name", 
                        "description": "For filtering: The name of the usage specification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "usageCharacteristic.name", 
                        "description": "For filtering: The name of the usage characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "usageCharacteristic.value", 
                        "description": "For filtering: A discrete value that the characteristic can take on."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }, 
                    {
                        "name": "ratedProductUsage.ratingDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "path", 
                        "type": "string", 
                        "description": "For filtering: Date of usage rating"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.usageRatingTag", 
                        "description": "For filtering: Tag value : 'usage' : the usage is always rated outside a usage bundle\n'included usage' : the usage is rated inside a usage bundle\n'non included usage' : the usage bundle is exhausted. The usage is rated outside the usage bundle"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.isBilled", 
                        "description": "For filtering: Boolean indicating if usage have been billed or not"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.ratingAmountType", 
                        "description": "For filtering: Type of amount"
                    }, 
                    {
                        "type": "float", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.taxIncludedRatingAmount", 
                        "description": "For filtering: All taxes included rated amount"
                    }, 
                    {
                        "type": "float", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.taxExcludedRatingAmount", 
                        "description": "For filtering: All taxes excluded rated amount"
                    }, 
                    {
                        "type": "float", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.taxRate", 
                        "description": "For filtering: Tax rate"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.isTaxExempt", 
                        "description": "For filtering: Indicates if the rated amount is exempt of tax"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.offerTariffType", 
                        "description": "For filtering: Type of tariff applied"
                    }, 
                    {
                        "type": "float", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.bucketValueConvertedInAmount", 
                        "description": "For filtering: Monetary value of bucket"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.currencyCode", 
                        "description": "For filtering: A string used as a code for specifying the currency associated to the given amounts. The ISO4217 norm uses 3 letters to define the currency (for example USD for US dollar or EUR for Euro)"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "ratedProductUsage.productRef", 
                        "description": "For filtering: Reference of product specification"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Usage"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createUsage", 
                "summary": "Creates a 'Usage'", 
                "tags": [
                    "usage"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Usage_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "usage", 
                        "description": "The Usage to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/Usage"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/usage/{id}": {
            "get": {
                "operationId": "retrieveUsage", 
                "summary": "Retrieves a 'Usage' by Id", 
                "tags": [
                    "usage"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Usage"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Usage"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "patch": {
                "operationId": "updateUsage", 
                "summary": "Updates partially a 'Usage' by Id", 
                "tags": [
                    "usage"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Usage"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/Usage_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "usage", 
                        "description": "The Usage to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/Usage"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/usageSpecification": {
            "get": {
                "operationId": "listUsageSpecification", 
                "summary": "List or find 'UsageSpecification' objects", 
                "tags": [
                    "usageSpecification"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: The name of the usage specification."
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "path", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "path", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "path", 
                        "name": "usageSpecCharacteristic.name", 
                        "description": "For filtering: The name of the usage specification characteristic"
                    }, 
                    {
                        "type": "boolean", 
                        "required": false, 
                        "in": "path", 
                        "name": "usageSpecCharacteristic.configurable", 
                        "description": "For filtering: Boolean indicating if usageSpecCharacteristic is configurable or not"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/UsageSpecification"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/usageSpecification/{id}": {
            "get": {
                "operationId": "retrieveUsageSpecification", 
                "summary": "Retrieves a 'UsageSpecification' by Id", 
                "tags": [
                    "usageSpecification"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Usage Specification"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/UsageSpecification"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "delete": {
                "operationId": "deleteUsageSpecification", 
                "summary": "Deletes a 'UsageSpecification' by Id", 
                "tags": [
                    "usageSpecification"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Usage Specification"
                    }
                ], 
                "responses": {
                    "204": {
                        "description": "Deleted"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub": {
            "post": {
                "operationId": "registerListener", 
                "summary": "Register a listener", 
                "description": "Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "data", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscriptionInput"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "description": "Data containing the callback endpoint to deliver the information"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Subscribed", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscription"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub/{id}": {
            "delete": {
                "operationId": "unregisterListener", 
                "summary": "Unregister a listener", 
                "description": "Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "id", 
                        "type": "string", 
                        "required": true, 
                        "in": "path", 
                        "description": "The id of the registered listener"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Unsubscribed"
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    }, 
    "definitions": {
        "Usage": {
            "type": "object", 
            "description": "An occurrence of employing a Product, Service, or Resource for its intended purpose, which is of interest to the business and can have charges applied to it. It is comprised of characteristics, which represent attributes of usage.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Usage unique identifier"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of usage"
                }, 
                "date": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date of usage"
                }, 
                "type": {
                    "type": "string", 
                    "description": "Type of usage"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of usage"
                }, 
                "status": {
                    "type": "string", 
                    "description": "Status of usage"
                }, 
                "usageSpecification": {
                    "$ref": "#/definitions/UsageSpecificationRef"
                }, 
                "usageCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/UsageCharacteristic"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "ratedProductUsage": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RatedProductUsage"
                    }
                }
            }
        }, 
        "Usage_Create": {
            "type": "object", 
            "description": "An occurrence of employing a Product, Service, or Resource for its intended purpose, which is of interest to the business and can have charges applied to it. It is comprised of characteristics, which represent attributes of usage.\nSkipped properties: id,href", 
            "required": [
                "date", 
                "type"
            ], 
            "properties": {
                "date": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date of usage"
                }, 
                "type": {
                    "type": "string", 
                    "description": "Type of usage"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of usage"
                }, 
                "status": {
                    "type": "string", 
                    "description": "Status of usage"
                }, 
                "usageSpecification": {
                    "$ref": "#/definitions/UsageSpecificationRef"
                }, 
                "usageCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/UsageCharacteristic"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "ratedProductUsage": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RatedProductUsage"
                    }
                }
            }
        }, 
        "Usage_Update": {
            "type": "object", 
            "description": "An occurrence of employing a Product, Service, or Resource for its intended purpose, which is of interest to the business and can have charges applied to it. It is comprised of characteristics, which represent attributes of usage.\nSkipped properties: id,href,id,href", 
            "properties": {
                "date": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date of usage"
                }, 
                "type": {
                    "type": "string", 
                    "description": "Type of usage"
                }, 
                "description": {
                    "type": "string", 
                    "description": "Description of usage"
                }, 
                "status": {
                    "type": "string", 
                    "description": "Status of usage"
                }, 
                "usageSpecification": {
                    "$ref": "#/definitions/UsageSpecificationRef"
                }, 
                "usageCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/UsageCharacteristic"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }, 
                "ratedProductUsage": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RatedProductUsage"
                    }
                }
            }
        }, 
        "UsageSpecification": {
            "type": "object", 
            "description": "A detailed description of a usage event that are of interest to the business and can have charges applied to it. It is comprised of characteristics, which define all attributes known for a particular type of usage.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "The name of the usage specification."
                }, 
                "description": {
                    "type": "string", 
                    "description": "A narrative that explains in detail what the usage specification is"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the usage specification is valid"
                }, 
                "id": {
                    "type": "string", 
                    "description": "Usage specification unique identifier"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of usage specification"
                }, 
                "usageSpecCharacteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/UsageSpecCharacteristic"
                    }
                }
            }
        }, 
        "UsageSpecificationRef": {
            "type": "object", 
            "description": "UsageSpecification reference. UsageSpecification is a detailed description of a usage event that are of interest to the business and can have charges applied to it. It is comprised of characteristics, which define all attributes known for a particular type of usage.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "The name of the usage specification"
                }, 
                "id": {
                    "type": "string", 
                    "description": "Usage specification unique identifier"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of usage specification"
                }
            }
        }, 
        "UsageCharacteristic": {
            "type": "object", 
            "description": "Provides the value of a given characteristic.", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "The name of the usage characteristic"
                }, 
                "value": {
                    "type": "string", 
                    "description": "A discrete value that the characteristic can take on."
                }
            }
        }, 
        "RelatedPartyRef": {
            "type": "object", 
            "description": "RelatedParty reference. RelatedParty defines party or party role linked to a specific entity.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of a related party"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the related party, could be a party reference or a partyRole reference"
                }, 
                "role": {
                    "type": "string", 
                    "description": "Role of the related party."
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the related party"
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "Validity period of the related party"
                }
            }
        }, 
        "RatedProductUsage": {
            "type": "object", 
            "description": "An occurrence of employing a product for its intended purpose with all rating details.", 
            "properties": {
                "ratingDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "Date of usage rating"
                }, 
                "usageRatingTag": {
                    "type": "string", 
                    "description": "Tag value : 'usage' : the usage is always rated outside a usage bundle\n'included usage' : the usage is rated inside a usage bundle\n'non included usage' : the usage bundle is exhausted. The usage is rated outside the usage bundle"
                }, 
                "isBilled": {
                    "type": "boolean", 
                    "description": "Boolean indicating if usage have been billed or not"
                }, 
                "ratingAmountType": {
                    "type": "string", 
                    "description": "Type of amount"
                }, 
                "taxIncludedRatingAmount": {
                    "type": "float", 
                    "description": "All taxes included rated amount"
                }, 
                "taxExcludedRatingAmount": {
                    "type": "float", 
                    "description": "All taxes excluded rated amount"
                }, 
                "taxRate": {
                    "type": "float", 
                    "description": "Tax rate"
                }, 
                "isTaxExempt": {
                    "type": "boolean", 
                    "description": "Indicates if the rated amount is exempt of tax"
                }, 
                "offerTariffType": {
                    "type": "string", 
                    "description": "Type of tariff applied"
                }, 
                "bucketValueConvertedInAmount": {
                    "type": "float", 
                    "description": "Monetary value of bucket"
                }, 
                "currencyCode": {
                    "type": "string", 
                    "description": "A string used as a code for specifying the currency associated to the given amounts. The ISO4217 norm uses 3 letters to define the currency (for example USD for US dollar or EUR for Euro)"
                }, 
                "productRef": {
                    "type": "string", 
                    "description": "Reference of product specification"
                }
            }
        }, 
        "TimePeriod": {
            "type": "object", 
            "description": "A base / value business entity used to represent a period of time between two timepoints.", 
            "properties": {
                "startDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, starting at the TimePeriod"
                }, 
                "endDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, ending at the TimePeriod."
                }
            }
        }, 
        "UsageSpecCharacteristic": {
            "type": "object", 
            "description": "A detailed description of an attribute that defines a particular type of usage, described by its name, category, type, presence and a set of allowed values", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "The name of the usage specification characteristic"
                }, 
                "description": {
                    "type": "string", 
                    "description": "A narrative that explains in detail what the usage specification characteristic is"
                }, 
                "configurable": {
                    "type": "boolean", 
                    "description": "Boolean indicating if usageSpecCharacteristic is configurable or not"
                }, 
                "usageSpecCharacteristicValue": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/UsageSpecCharacteristicValue"
                    }
                }
            }
        }, 
        "UsageSpecCharacteristicValue": {
            "type": "object", 
            "description": "A value that can be assigned to a UsageSpecCharacteristic.", 
            "properties": {
                "valueType": {
                    "type": "string", 
                    "description": "A kind of value that the characteristic can take on, such as numeric, text, and so forth."
                }, 
                "default": {
                    "type": "boolean", 
                    "description": "Indicates if the value is the default value for a characteristic"
                }, 
                "value": {
                    "type": "string", 
                    "description": "A narrative that explains in detail what the usage specification characteristic is"
                }, 
                "valueFrom": {
                    "type": "string", 
                    "description": "The low range value that a characteristic can take on"
                }, 
                "valueTo": {
                    "type": "string", 
                    "description": "The upper range value that a characteristic can take on."
                }
            }
        }, 
        "EventSubscription": {
            "required": [
                "id", 
                "callback"
            ], 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Id of the listener"
                }, 
                "callback": {
                    "type": "string", 
                    "description": "The callback being registered."
                }, 
                "query": {
                    "type": "string", 
                    "description": "additional data to be passed"
                }
            }
        }, 
        "EventSubscriptionInput": {
            "required": [
                "callback"
            ], 
            "properties": {
                "callback": {
                    "type": "string", 
                    "description": "The callback being registered."
                }, 
                "query": {
                    "type": "string", 
                    "description": "additional data to be passed"
                }
            }
        }, 
        "Error": {
            "required": [
                "code", 
                "message"
            ], 
            "properties": {
                "code": {
                    "type": "integer", 
                    "description": "An integer coding the error type. This is given to caller so he can translate them if required."
                }, 
                "message": {
                    "type": "string", 
                    "description": "A short localized string that describes the error."
                }, 
                "description": {
                    "type": "string", 
                    "description": "(optional) A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values."
                }, 
                "infoURL": {
                    "type": "string", 
                    "description": "(optional) A URL to online documentation that provides more information about the error."
                }
            }
        }
    }
}
